<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing IMDb Data

_Author: Kevin Markham (DC)_

---

For project two, you will complete a serious of exercises exploring movie rating data from IMDb.

For these exercises, you will be conducting basic exploratory data analysis on IMDB's movie data, looking to answer such questions as:

What is the average rating per genre?
How many different actors are in a movie?

This process will help you practice your data analysis skills while becoming comfortable with Pandas.

## Basic level

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### Read in 'imdb_1000.csv' and store it in a DataFrame named movies.

In [4]:
movies = pd.read_csv('./data/imdb_1000.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

#### Check the number of rows and columns.

In [16]:
for genre, data in movies.set_index('title').groupby('genre').star_rating:
    print(genre, data.head(), end='\n\n')

Action title
The Dark Knight                                   9.0
Inception                                         8.8
Star Wars: Episode V - The Empire Strikes Back    8.8
Star Wars                                         8.7
The Matrix                                        8.7
Name: star_rating, dtype: float64

Adventure title
The Lord of the Rings: The Return of the King        8.9
The Lord of the Rings: The Fellowship of the Ring    8.8
The Lord of the Rings: The Two Towers                8.8
Interstellar                                         8.7
Back to the Future                                   8.5
Name: star_rating, dtype: float64

Animation title
Spirited Away             8.6
The Lion King             8.5
Grave of the Fireflies    8.5
WALL-E                    8.4
Princess Mononoke         8.4
Name: star_rating, dtype: float64

Biography title
Schindler's List    8.9
Goodfellas          8.7
The Intouchables    8.6
The Pianist         8.5
Amadeus             8.4
Name: star_rating, dtype: float64

Comedy title
Life Is Beautiful                                                       8.6
City Lights                                                             8.6
Modern Times                                                            8.6
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb    8.5
The Great Dictator                                                      8.5
Name: star_rating, dtype: float64

Crime title
The Shawshank Redemption    9.3
The Godfather               9.2
The Godfather: Part II      9.1
Pulp Fiction                8.9
City of God                 8.7
Name: star_rating, dtype: float64

Drama title
12 Angry Men                       8.9
Fight Club                         8.9
Forrest Gump                       8.8
One Flew Over the Cuckoo's Nest    8.7
Seven Samurai                      8.7
Name: star_rating, dtype: float64

Family title
E.T. the Extra-Terrestrial             7.9
Willy Wonka & the Chocolate Factory    7.8
Name: star_rating, dtype: float64

Fantasy title
The City of Lost Children    7.7
Name: star_rating, dtype: float64

Film-Noir title
The Third Man    8.3
Laura            8.1
Spellbound       7.7
Name: star_rating, dtype: float64

History title
Battleship Potemkin    8.0
Name: star_rating, dtype: float64

Horror title
Psycho         8.6
Alien          8.5
The Shining    8.5
Diabolique     8.2
The Thing      8.2
Name: star_rating, dtype: float64

Mystery title
Rear Window              8.6
Memento                  8.5
Vertigo                  8.4
2001: A Space Odyssey    8.3
Rebecca                  8.2
Name: star_rating, dtype: float64

Sci-Fi title
Blade Runner                     8.2
Brazil                           8.0
Gravity                          7.9
The Day the Earth Stood Still    7.8
The Butterfly Effect             7.7
Name: star_rating, dtype: float64

Thriller title
Shadow of a Doubt            8.0
Misery                       7.8
La piel que habito           7.6
The Man Who Knew Too Much    7.5
Frenzy                       7.5
Name: star_rating, dtype: float64

Western title
The Good, the Bad and the Ugly    8.9
Once Upon a Time in the West      8.6
Django Unchained                  8.5
For a Few Dollars More            8.3
Unforgiven                        8.3
Name: star_rating, dtype: float64

In [13]:
movies.set_index('title').groupby('genre').star_rating.idxmax()

genre
Action                                     The Dark Knight
Adventure    The Lord of the Rings: The Return of the King
Animation                                    Spirited Away
Biography                                 Schindler's List
Comedy                                   Life Is Beautiful
Crime                             The Shawshank Redemption
Drama                                         12 Angry Men
Family                          E.T. the Extra-Terrestrial
Fantasy                          The City of Lost Children
Film-Noir                                    The Third Man
History                                Battleship Potemkin
Horror                                              Psycho
Mystery                                        Rear Window
Sci-Fi                                        Blade Runner
Thriller                                 Shadow of a Doubt
Western                     The Good, the Bad and the Ugly
Name: star_rating, dtype: object

In [12]:
movies.groupby('genre')['star_rating', 'title'].sort_values('star_rating', ascending=False).head(1)

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [11]:
# Answer:
movies.groupby('genre')['star_rating', 'title'].apply(lambda x: x.sort_values('star_rating', ascending=False).head(1))

               star_rating                                          title
genre
Action    3            9.0                                The Dark Knight
Adventure 7            8.9  The Lord of the Rings: The Return of the King
Animation 30           8.6                                  Spirited Away
Biography 8            8.9                               Schindler's List
Comedy    25           8.6                              Life Is Beautiful
Crime     0            9.3                       The Shawshank Redemption
Drama     5            8.9                                   12 Angry Men
Family    468          7.9                     E.T. the Extra-Terrestrial
Fantasy   638          7.7                      The City of Lost Children
Film-Noir 105          8.3                                  The Third Man
History   338          8.0                            Battleship Potemkin
Horror    39           8.6                                         Psycho
Mystery   38           8.6                                    Rear Window
Sci-Fi    145          8.2                                   Blade Runner
Thriller  350          8.0                              Shadow of a Doubt
Western   6            8.9                 The Good, the Bad and the Ugly

#### Check the data type of each column.

In [ ]:
# Answer:

#### Calculate the average movie duration.

In [ ]:
# Answer:

#### Sort the DataFrame by duration to find the shortest and longest movies.

In [ ]:
# Answer:

#### Create a histogram of duration, choosing an "appropriate" number of bins.

In [ ]:
# Answer:

#### Use a box plot to display that same data.

In [ ]:
# Answer:

## Intermediate level

#### Count how many movies have each of the content ratings.

In [ ]:
# Answer:

#### Use a visualization to display that same data, including a title and x and y labels.

In [ ]:
# Answer:

#### Convert the following content ratings to "UNRATED": NOT RATED, APPROVED, PASSED, GP.

In [ ]:
# Answer:

#### Convert the following content ratings to "NC-17": X, TV-MA.

In [ ]:
# Answer:

#### Count the number of missing values in each column.

In [ ]:
# Answer:

#### If there are missing values: examine them, then fill them in with "reasonable" values.

In [ ]:
# Answer:

#### Calculate the average star rating for movies 2 hours or longer, and compare that with the average star rating for movies shorter than 2 hours.

In [ ]:
# Answer:

#### Use a visualization to detect whether there is a relationship between duration and star rating.

In [ ]:
# Answer:

#### Calculate the average duration for each genre.

In [ ]:
# Answer:

## Advanced level

#### Visualize the relationship between content rating and duration.

In [ ]:
# Answer:

#### Determine the top rated movie (by star rating) for each genre.

In [ ]:
# Answer:

#### Check if there are multiple movies with the same title, and if so, determine if they are actually duplicates.

In [ ]:
# Answer:

#### Calculate the average star rating for each genre, but only include genres with at least 10 movies

#### Option 1: manually create a list of relevant genres, then filter using that list

In [ ]:
# Answer:

#### Option 2: automatically create a list of relevant genres by saving the value_counts and then filtering

In [ ]:
# Answer:

#### Option 3: calculate the average star rating for all genres, then filter using a boolean Series

In [ ]:
# Answer:

#### Option 4: aggregate by count and mean, then filter using the count

In [ ]:
# Answer:

## Bonus

#### Figure out something "interesting" using the actors data!